[submodule "contrib/php-graphql-client"]
	path = contrib/php-graphql-client
	url = https://github.com/mghoneimy/php-graphql-client
[submodule "contrib/sis-sdk-php"]
	path = contrib/sis-sdk-php
	url = https://github.com/arbor-education/sis-sdk-php
